{% extends 'base.html.twig' %}

{% block content %}
    <div class="well">
            <h1>Authors edit</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-default" type="submit" value="Edit"/>
            {{ form_end(edit_form) }}

            <a class="btn btn-default" role="button" href="{{ path('authors_index') }}">Back to the list</a>

            {{ form_start(delete_form) }}
            <input class="btn btn-default" type="submit" value="Delete">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
